/* styles the forms.js component */

.forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-pair input{
    margin: 20px 0 0 0;
    justify-content: space-between;
}

.submit-btn {
    margin: 20px 0 0 0;
}