.edit-form-page {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
  }
  
  .input-pair {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-btn {
    background-color: #1c2505;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-btn:hover {
    background-color: #1c2505;
  }